<div class="container">
    <div class=" mt-5">
        <div class="row">
            
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-lg-2" *ngFor="let item of student"> 
                        {{item.name}} {{item.lastname}}
                    </div>
                    <div class="col-lg-2"> 
                        <input type="text" class="form-control" placeholder="Nota 1" aria-label="Nota 1" formControlName="nota1">
                    </div>
                    <div class="col-lg-2"> 
                        <input type="text" class="form-control" placeholder="Nota 2" aria-label="Nota 2" formControlName="nota2">
                    </div>
                    <div class="col-lg-2"> 
                        <input type="text" class="form-control" placeholder="Nota 3" aria-label="Nota 3" formControlName="nota3">
                    </div>
                    <div class="col-lg-2"> 
                        <input type="text" class="form-control" placeholder="Nota 4" aria-label="Nota 4" formControlName="nota4">
                    </div>
                    <div class="col-lg-2"> 
                        Promedio
                    </div>
                </div>
                
                
            </form>
            
        </div>
    </div>
</div>
